*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Inter',sans-serif;

}


body{


height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
135deg,
#020617,
#082f49,
#0f172a
);


color:white;

overflow:hidden;


}




.background{


position:absolute;

border-radius:50%;

filter:blur(120px);

opacity:.35;

}



.blur1{


height:450px;

width:450px;

background:#0284c7;

top:-150px;

left:-100px;


}



.blur2{


height:400px;

width:400px;

background:#7c3aed;

bottom:-100px;

right:-100px;


}




.page{


width:420px;

position:relative;

z-index:2;


}




.brand-section{


text-align:center;

margin-bottom:30px;


}



.logo{


height:70px;

width:70px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;


border-radius:22px;


font-size:28px;

font-weight:700;


background:

linear-gradient(
135deg,
#38bdf8,
#2563eb
);


box-shadow:

0 15px 40px rgba(37,99,235,.4);


}



.brand-section h1{


font-family:'Poppins',sans-serif;

font-size:42px;

margin-top:15px;


background:

linear-gradient(
90deg,
#38bdf8,
#818cf8
);


-webkit-background-clip:text;

color:transparent;


}



.brand-section p{


color:#94a3b8;

margin-top:8px;

font-size:15px;


}





.login-card{


background:

rgba(15,23,42,.75);


backdrop-filter:blur(25px);


border:

1px solid rgba(148,163,184,.15);


padding:35px;


border-radius:28px;


box-shadow:

0 30px 80px rgba(0,0,0,.45);


}




.login-card h2{


font-family:'Poppins';

font-size:28px;

margin-bottom:8px;


}



.subtitle{


color:#94a3b8;

margin-bottom:28px;


}





.input-box{


margin-bottom:20px;


}



.input-box label{


display:block;

font-size:14px;

font-weight:600;

margin-bottom:8px;


color:#e2e8f0;


}



.input-box span{


color:#38bdf8;


}





.input-box input{


width:100%;


padding:15px;


background:#020617;


border:

1px solid #1e293b;


border-radius:15px;


color:white;


font-size:15px;


outline:none;


transition:.25s;


}



.input-box input:focus{


border-color:#38bdf8;


box-shadow:

0 0 0 4px rgba(56,189,248,.15);


}




.input-box small{


display:block;

margin-top:7px;

color:#64748b;

font-size:12px;


}





.continue-btn{


width:100%;


padding:16px;


border:none;


border-radius:16px;


margin-top:10px;


font-size:16px;


font-weight:700;


color:white;


cursor:pointer;


background:

linear-gradient(
90deg,
#0284c7,
#2563eb
);


transition:.3s;


}



.continue-btn:hover{


transform:translateY(-3px);


box-shadow:

0 15px 35px rgba(37,99,235,.4);


}





.terms{


text-align:center;

font-size:12px;

color:#64748b;

margin-top:20px;


}





@media(max-width:500px){


.page{

width:90%;

}


.brand-section h1{

font-size:34px;

}


}